@media (min-width: 1110px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 10px 0;
  }
}

@media screen and (max-width: 1110px) {
  .header._active .header__logo-link {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  .header._active {
    -webkit-transform: translateX(-53%) rotate(0deg);
            transform: translateX(-53%) rotate(0deg);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__icon {
    margin-left: 20px;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    overflow: auto;
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 80vh;
    background-color: #4cb2e7;
    padding: 40px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    left: 0;
  }
  .menu__list {
    padding: 110px 0 30px 0;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  .footer__column {
    margin-top: 20px;
  }
  .footer__autor {
    margin-top: 20px;
  }
  .letter-form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .letter-form__btn {
    margin-top: 10px;
    width: 91px;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
  }
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10px;
  }
  .popup__close {
    position: absolute;
    bottom: 3px;
    right: 9px;
    font-size: 40px;
    color: #000;
  }
  .popup__content {
    display: block;
    max-width: 260px;
    max-height: 280px;
    background-color: #f6f4f4;
    padding: 23px 15px 19px 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
    border: 1px solid #ffffff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(207, 201, 201, 0.55)), to(rgba(248, 244, 244, 0.55)));
    background-image: linear-gradient(to top, rgba(207, 201, 201, 0.55) 0%, rgba(248, 244, 244, 0.55) 100%);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .popup__content-scroll {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .popup__content-scroll::-webkit-scrollbar {
    width: 11px;
    padding: 0 20px;
  }
  .popup__content-scroll::-webkit-scrollbar-thumb {
    background-color: #949292;
    background: #949292 url(../img/map/polzunok.webp) center no-repeat;
  }
  .popup__content-scroll::-webkit-scrollbar-track {
    background: #a4a4a4;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  .popup__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px 22px 0;
  }
  .popup__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }
  .popup__column:last-child {
    margin-bottom: 0;
  }
  .popup__inf {
    padding: 0 0 0 11px;
  }
  .popup__inf-title {
    white-space: nowrap;
    color: #a4a4a4;
    font-family: "ColabMed";
    font-size: 17px;
    font-weight: 500;
    text-align: left;
  }
  .popup__inf-description {
    color: #a4a4a4;
    font-family: "Colaborate - Thin";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }
  .popup__content-title {
    color: #b2aaaa;
    font-family: "ColabReg";
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    padding: 22px 70px 0 27px;
    white-space: nowrap;
  }
  .map__content._active {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .offer {
    margin-top: -250px;
  }
  .offer__container {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__special-title {
    padding-top: 50px;
    text-align: center;
  }
  .offer__special-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__special-column {
    border-bottom: none;
    padding: 0;
  }
  .offer__special-column:first-child {
    padding-top: 26px;
    border-bottom: none;
    padding: 0 10px 0 0;
  }
  .offer__special-column:last-child {
    padding: 0;
    border-bottom: none;
  }
  .offer__summer {
    width: 72%;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0 0 20px 0;
  }
  .special {
    padding: 0 20px;
  }
  .summer-nav__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .summer-body__suggestion-inf-period {
    padding: 0 15px 0 0;
  }
  .footer {
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header .header__logo-link {
    border: 4px solid #ffffff;
    max-width: 200px;
    padding: 55px 15px 15px 15px;
  }
  .header .header__logo-text1 {
    font-size: 27px;
  }
  .header .header__logo-text2 {
    font-size: 12px;
  }
  .header .menu__list {
    padding: 90px 0 20px 0;
  }
  .offer {
    margin-top: -300px;
  }
  .offer__special {
    padding-top: 80px;
  }
  .map__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 625px) {
  .double-block__slider {
    padding: 50px 0 0 0;
    max-width: 450px;
  }
  .summer-nav__logo img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header .header__logo-link {
    max-width: 150px;
    padding: 55px 5px 15px 5px;
  }
  .header .header__logo-text1 {
    font-size: 22px;
  }
  .header .header__logo-text2 {
    font-size: 10px;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px 0;
  }
  .menu__link {
    font-size: 20px;
  }
  .offer {
    margin-top: -340px;
  }
  .offer__special {
    padding-top: 80px;
  }
  .offer__special-title {
    font-size: 25px;
  }
  .offer__special-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__special-column {
    padding: 0 0 10px 0;
  }
  .offer__special-column:first-child {
    padding: 0 0 20px 0;
  }
  .offer__summer {
    width: 93%;
  }
  .special__title {
    font-size: 15px;
  }
  .special__text {
    font-size: 13px;
  }
  .special__sum {
    font-size: 20px;
  }
  .special__btn {
    font-size: 13px;
  }
  .summer-nav__tabs {
    padding: 0 0 6px 0;
  }
  .summer-nav__tabs-link {
    color: #81ffff;
    font-family: "A 1010 Helvetika - Normal";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: #299fca;
    border-radius: 5px 5px 0 0;
  }
  .tabs-link-1 {
    padding: 8px 27px 5px 17px;
  }
  .tabs-link-2 {
    padding: 8px 19px 5px 15px;
    margin: 0 4px;
  }
  .map__title {
    font-size: 22px;
  }
  .map__description {
    font-size: 15px;
  }
  .footer {
    padding-top: 60px;
  }
}

@media screen and (max-width: 435px) {
  .double-block__slider {
    padding: 30px 0 0 0;
    max-width: 400px;
  }
  .header .header__logo-link {
    max-width: 100px;
    padding: 65px 5px 15px 5px;
  }
  .header .header__logo-text1 {
    font-size: 13px;
  }
  .header .header__logo-text2 {
    font-size: 7px;
  }
  .summer-body__suggestion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .summer-body__suggestion-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 75%;
  }
  .summer-body__suggestion-inf-title {
    color: #ffffff;
    font-family: "Colaborate - Thin";
    margin: 0 0 0 25px;
    padding: 0 10px 10px 0;
    font-size: 13px;
    font-weight: 400;
    position: relative;
  }
  .summer-body__suggestion-inf-title::before {
    content: "";
    width: 11px;
    height: 12px;
    position: absolute;
    top: 1.5px;
    left: -20px;
    background: url(../img/offer/arrow.webp) no-repeat;
    display: block;
  }
  .summer-body__suggestion-inf-period {
    white-space: nowrap;
    color: #ffffff;
    font-family: "Colaborate - Thin";
    font-size: 13px;
    font-weight: 400;
    text-align: left;
  }
  .summer-body__suggestion-details {
    color: #ffffff;
    font-family: "Colaborate - Thin";
    font-size: 13px;
    font-weight: 400;
    text-align: left;
  }
  .summer-body__suggestion-details:hover {
    text-decoration: underline;
  }
  .summer-nav__tabs {
    padding: 0 0 4px 0;
  }
  .summer-nav__tabs-link {
    color: #81ffff;
    font-family: "A 1010 Helvetika - Normal";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: #299fca;
    border-radius: 5px 5px 0 0;
  }
  .tabs-link-1 {
    padding: 5px 12px 3px 12px;
  }
  .tabs-link-2 {
    padding: 5px 7px 3px 7px;
    margin: 0 4px 0 2px;
  }
  .footer {
    padding-top: 0px;
  }
}

@media screen and (max-width: 378px) {
  .double-block__slider {
    padding: 30px 0 0 0;
    max-width: 350px;
  }
  .offer {
    margin-top: -360px;
  }
  .summer-body__column {
    margin-bottom: 15px;
  }
  .map__title {
    font-size: 22px;
  }
  .map__description {
    font-size: 13px;
  }
  .map__africa-box {
    -webkit-transform: translateX(-42%) translateY(-36%);
            transform: translateX(-42%) translateY(-36%);
  }
}

@media screen and (max-width: 320px) {
  .double-block__slider {
    padding: 30px 0 0 0;
    max-width: 250px;
  }
  .offer {
    margin-top: -380px;
  }
  .offer__special-title {
    padding-top: 90px;
  }
  .summer-nav__tabs {
    padding: 0 0 4px 0;
  }
  .summer-nav__tabs-link {
    color: #81ffff;
    font-family: "A 1010 Helvetika - Normal";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: #299fca;
    border-radius: 5px 5px 0 0;
  }
  .tabs-link-1 {
    padding: 5px 9px 3px 9px;
  }
  .tabs-link-2 {
    padding: 5px 4px 3px 4px;
    margin: 0 4px 0 2px;
  }
}
