@font-face {
  font-family: "A 1010 Helvetika - Normal";
  src: url(/fonts/a1010helvetika_normal.ttf);
}

@font-face {
  font-family: "Arial MT";
  src: url(/fonts/16063.ttf);
}

@font-face {
  font-family: "AG Foreigner Roman Medium";
  src: url(/fonts/ag_foreigner_romanmedium.ttf);
}

@font-face {
  font-family: "AG Letterica Bold Bold";
  src: url(/fonts/ag_letterica_bold.ttf);
}

@font-face {
  font-family: "ColabMed";
  src: url(/fonts/ColabMed.otf);
}

@font-face {
  font-family: "Colaborate - Thin";
  src: url(/fonts/colaborate-thin_[allfont.ru].ttf);
}

@font-face {
  font-family: "ColabReg";
  src: url(/fonts/ColabReg.otf);
}

@font-face {
  font-family: "Copse";
  src: url(/fonts/copse_[allfont.ru].ttf);
}

@font-face {
  font-family: "Crash CTT";
  src: url(/fonts/crashctt_[allfont.ru].ttf);
}

@font-face {
  font-family: "a _ Bighaus Titul Brk - Extra Bold";
  src: url(/fonts/ofont.ru_a_BighausTitulBrk.ttf);
}

@font-face {
  font-family: "a _ Cooper Black Nr";
  src: url(/fonts/ofont.ru_a_CooperBlackNr.ttf);
}

@font-face {
  font-family: "AG Souvenir";
  src: url(/fonts/ofont.ru_AG_Souvenir.ttf);
}

@font-face {
  font-family: "AG Aalen Bold - Roman";
  src: url(/fonts/agaalenbold-roman.ttf);
}

@font-face {
  font-family: "AG Benguiat Cyr Book";
  src: url(/fonts/ofont.ru_AGBenguiatCyr.ttf);
}
