@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------*/
@font-face {
  font-family: "A 1010 Helvetika - Normal";
  src: url(/fonts/a1010helvetika_normal.ttf);
}

@font-face {
  font-family: "Arial MT";
  src: url(/fonts/16063.ttf);
}

@font-face {
  font-family: "AG Foreigner Roman Medium";
  src: url(/fonts/ag_foreigner_romanmedium.ttf);
}

@font-face {
  font-family: "AG Letterica Bold Bold";
  src: url(/fonts/ag_letterica_bold.ttf);
}

@font-face {
  font-family: "ColabMed";
  src: url(/fonts/ColabMed.otf);
}

@font-face {
  font-family: "Colaborate - Thin";
  src: url(/fonts/colaborate-thin_[allfont.ru].ttf);
}

@font-face {
  font-family: "ColabReg";
  src: url(/fonts/ColabReg.otf);
}

@font-face {
  font-family: "Copse";
  src: url(/fonts/copse_[allfont.ru].ttf);
}

@font-face {
  font-family: "Crash CTT";
  src: url(/fonts/crashctt_[allfont.ru].ttf);
}

@font-face {
  font-family: "a _ Bighaus Titul Brk - Extra Bold";
  src: url(/fonts/ofont.ru_a_BighausTitulBrk.ttf);
}

@font-face {
  font-family: "a _ Cooper Black Nr";
  src: url(/fonts/ofont.ru_a_CooperBlackNr.ttf);
}

@font-face {
  font-family: "AG Souvenir";
  src: url(/fonts/ofont.ru_AG_Souvenir.ttf);
}

@font-face {
  font-family: "AG Aalen Bold - Roman";
  src: url(/fonts/agaalenbold-roman.ttf);
}

@font-face {
  font-family: "AG Benguiat Cyr Book";
  src: url(/fonts/ofont.ru_AGBenguiatCyr.ttf);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 63%;
  height: 84px;
  z-index: 10;
  background-color: #4cb2e7;
  margin: -23px auto 0 auto;
  border-radius: 7px;
  -webkit-transform: translateX(-53%) rotate(-2deg);
          transform: translateX(-53%) rotate(-2deg);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  min-height: 70px;
}

.header__logo-link {
  -webkit-box-shadow: 2px 5px 10px rgba(18, 126, 165, 0.92);
          box-shadow: 2px 5px 10px rgba(18, 126, 165, 0.92);
  border: 6px solid #ffffff;
  background-color: #e1ecf2;
  border-radius: 10px;
  z-index: 5;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 258px;
  padding: 40px 20px 20px 20px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.header__logo-text1 {
  color: #299fca;
  font-family: "AG Aalen Bold - Roman";
  font-size: 33px;
  padding: 0 0 7px 0;
}

.header__logo-text2 {
  color: #299fca;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
}

.menu__icon {
  display: block;
  padding-left: 10px;
}

.menu__body {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin: 10px 0px 0 0;
  padding: 0 105px 0 0;
  border-radius: 10px;
}

.menu__list li {
  margin: 20px 30px 0 25px;
  white-space: nowrap;
}

.menu__link {
  color: #ffffff;
  font-family: "AG Souvenir";
  font-size: 17px;
  font-weight: 400;
}

.menu__link:hover {
  text-decoration: underline;
}

.double-block {
  background: url(/img/slider/cloud_2.png) center 350px/cover no-repeat, url(/img/slider/bg_shades1.webp) no-repeat 40% -20% #d6e6ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 84px 0 0 0px;
}

.double-block__slider {
  position: relative;
  padding: 90px 0 0 0;
}

.image-slider {
  max-width: 645px;
}

.image-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking {
  border: 7px solid #7ebee0;
  background-color: #299fca;
  margin: 30px;
  max-width: 309px;
  border-radius: 20px;
}

.booking__title {
  margin: 26px 0 33px -20px;
  color: #ffffff;
  font-family: "AG Letterica Bold Bold";
  font-size: 21px;
  font-weight: 400;
  max-width: 237px;
  background-color: #ded90e;
  border-radius: 5px 0 0 5px;
  padding: 12px 0 9px 22px;
  -webkit-box-shadow: 1px 1px 5px rgba(18, 126, 165, 0.75);
          box-shadow: 1px 1px 5px rgba(18, 126, 165, 0.75);
  position: relative;
}

.booking__title::before {
  content: "";
  margin: -11px 0 0 -20px;
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #299fca;
  border-bottom: 20px solid transparent;
}

.booking__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 15px;
}

.booking__items li {
  text-align: right;
  color: #ffffff;
  font-family: "AG Foreigner Roman Medium";
  font-size: 17px;
  white-space: nowrap;
  font-weight: 400;
  margin-bottom: 27px;
  text-shadow: 2px 0 0 #2090b9, -2px 0 0 #2090b9, 0 2px 0 #2090b9, 0 -2px 0 #2090b9, 1px 1px #2090b9, -1px -1px 0 #2090b9, 1px -1px 0 #2090b9, -1px 1px 0 #2090b9;
}

.booking__items li:first-child {
  margin-top: 6px;
}

.booking__item-image {
  margin-top: 50px;
}

.booking__forms {
  padding: 0 0 0 8px;
}

.booking__forms-group input,
.booking__forms-group textarea,
.booking__forms-group select {
  width: 100%;
  height: 31px;
  border: 3px solid #a7d1e6;
  border-radius: 10px;
  padding-left: 7px;
  color: #299fca;
  font-family: "AG Foreigner Roman Medium";
}

.booking__forms-group select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/img/slider/select-triangle.webp") no-repeat right center #fff;
  background-size: contain;
  cursor: pointer;
}

.booking__forms-group textarea {
  width: 171px;
  height: 57px;
  resize: none;
  padding-top: 5px;
}

.booking__forms-group li {
  margin-bottom: 14px;
}

.booking__form-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.booking__form-btn {
  color: #64affc;
  font-family: "AG Letterica Bold Bold";
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e5db10), to(#fff203));
  background-image: linear-gradient(to top, #e5db10 0%, #fff203 100%);
  border-radius: 5px;
  padding: 10px 25px;
}

.footer {
  background: radial-gradient(at top, #1c93bf, #127ea5) padding-box, -webkit-gradient(linear, left top, right top, from(#127ea5)) border-box;
  background: radial-gradient(at top, #1c93bf, #127ea5) padding-box, linear-gradient(to right, #127ea5) border-box;
  border-top: 3px solid transparent;
  background-color: #127ea5;
  background-size: cover;
}

.footer input::-webkit-input-placeholder,
.footer textarea::-webkit-input-placeholder {
  color: #5190a7;
}

.footer input:-ms-input-placeholder,
.footer textarea:-ms-input-placeholder {
  color: #5190a7;
}

.footer input::-ms-input-placeholder,
.footer textarea::-ms-input-placeholder {
  color: #5190a7;
}

.footer input::placeholder,
.footer textarea::placeholder {
  color: #5190a7;
}

.footer__container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 0 12px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  padding: 0 30px;
}

.footer__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.footer__autor p {
  text-align: center;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
}

.footer__autor-icon {
  position: relative;
}

.footer__autor-icon::before {
  content: "©";
  position: absolute;
  font-size: 22px;
  top: -4px;
  margin-left: -20px;
}

.column__contact a:hover {
  text-decoration: underline;
}

.social__media-icons {
  margin: 15px 0 0 0;
}

.social__media-icons a {
  margin: 0 3px;
}

.social__media-icons a:first-child {
  margin-left: 0;
}

.social__media-icons a:hover {
  opacity: 0.5;
}

.title {
  padding: 22px 0 0 0;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75);
  color: #ffffff;
  font-family: "ColabReg";
  font-size: 25px;
  font-weight: 400;
}

.letter-form__group {
  margin-top: 17px;
}

.letter-form__email {
  width: 193px;
  height: 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f6686), to(#0f6686)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#154050), to(#96d6ed)) border-box;
  background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 0 10px 0 0;
}

.letter-form__btn {
  padding: 8px 14px;
  cursor: pointer;
  font-family: "ColabMed";
  font-size: 16px;
  font-weight: 400;
  border-radius: 7px;
  text-align: center;
  color: #1380a7;
  background-color: #d6e6ef;
}

.letter-form__btn:hover {
  background-color: #ccc;
}

.contact__title {
  margin: 9px 0 23px 0;
}

.contact__list li {
  margin: 0 0 13px 0;
}

.contact__list li:last-child {
  margin-bottom: 0;
}

.contact__text {
  color: #ffffff;
  font-family: "Colaborate - Thin";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.contact__number {
  color: #ffffff;
  font-family: "Colaborate - Thin";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.contact__number a {
  color: #ffffff;
}

.contact__email {
  color: #ffffff;
  font-family: "Colaborate - Thin";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__email div {
  padding: 0 1px;
}

.contact__email a {
  color: #ffffff;
}

.contact__email p {
  padding: 0 1px 13px 1px;
}

.contact__fax {
  color: #ffffff;
  font-family: "Colaborate - Thin";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__fax div {
  padding: 0 13px 0 0;
}

.contact-form__form {
  margin-top: 17px;
}

.contact-form__group textarea {
  resize: none;
}

.contact-form__group li {
  padding-bottom: 13px;
}

.contact-form__name {
  width: 193px;
  height: 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f6686), to(#0f6686)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#154050), to(#96d6ed)) border-box;
  background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.contact-form__email {
  width: 193px;
  height: 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f6686), to(#0f6686)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#154050), to(#96d6ed)) border-box;
  background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.contact-form__phone {
  width: 193px;
  height: 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f6686), to(#0f6686)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#154050), to(#96d6ed)) border-box;
  background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.contact-form__text {
  width: 253px;
  height: 57px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f6686), to(#0f6686)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#154050), to(#96d6ed)) border-box;
  background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
  color: #ffffff;
  font-family: "Colaborate - Thin";
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.contact-form__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-form__btn {
  padding: 8px 23px;
  cursor: pointer;
  font-family: "ColabMed";
  font-size: 16px;
  font-weight: 400;
  border-radius: 7px;
  text-align: center;
  color: #1380a7;
  background-color: #d6e6ef;
}

.contact-form__btn:hover {
  background-color: #ccc;
}
