@media screen and (min-width: 1200px) {
}
@media (min-width: 1110px) {
	.menu__list {
		display: flex;
		align-items: center;
		li {
			padding: 10px 0;
		}
	}
}
@media screen and (max-width: 1110px) {
	.header._active .header__logo-link {
		transform: rotate(-5deg);
	}
	.header._active {
		transform: translateX(-53%) rotate(0deg);
		transition-duration: 0.3s;
	}
	.header {
		transition-duration: 0.3s;
	}
	.header__container {
		align-items: center;
	}
	.menu__icon {
		margin-left: 20px;
		z-index: 5;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		transform: rotate(2deg);
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		overflow: auto;
		position: fixed;
		top: 0;
		left: -150%;
		width: 100%;
		height: 80vh;
		background-color: #4cb2e7;
		padding: 40px 30px 30px 30px;
		transition: left 0.3s ease 0s;
	}

	.menu__body._active {
		transform: rotate(0deg);
		transition-delay: 0.3s;
		left: 0;
	}

	.menu__list {
		padding: 110px 0 30px 0;
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin: 0 0 30px 0;
	}

	.menu__list > li:last-child {
		margin-bottom: 0;
	}

	.menu__link {
		font-size: 22px;
	}
}

@media screen and (max-width: 991px) {
	.footer {
		&__column {
			margin-top: 20px;
		}

		&__autor {
			margin-top: 20px;
		}
	}
	.letter-form {
		&__group {
			display: flex;
			flex-direction: column;
		}

		&__btn {
			margin-top: 10px;
			width: 91px;
		}
	}
}

@media screen and (max-width: 850px) {
	.offer {
		margin-top: -250px;

		&__container {
			margin: 0;
			flex-wrap: wrap;
		}

		&__special {
		}

		&__special-title {
			padding-top: 50px;
			text-align: center;
		}

		&__special-row {
			display: flex;
			align-items: flex-start;
			flex-wrap: nowrap;
			justify-content: center;
		}

		&__special-column {
			border-bottom: none;
			padding: 0;

			&:first-child {
				padding-top: 26px;
				border-bottom: none;
				padding: 0 10px 0 0;
			}
			&:last-child {
				padding: 0;
				border-bottom: none;
			}
		}

		&__summer {
			width: 72%;

			margin-left: 0px;
			padding-left: 0px;
			padding: 0 0 20px 0;
		}

		&__summer-container {
		}

		&__summer-nav {
		}

		&__summer-nav-content {
		}

		&__summer-body {
		}
	}
	.special {
		padding: 0 20px;

		&__image {
		}

		&__information {
		}

		&__title {
		}

		&__text {
		}

		&__row {
		}

		&__sum {
		}

		&__btn {
		}
	}
	.read-more {
	}
	.summer-nav {
		&__body {
			flex: 1 1 auto;
		}

		&__tabs {
		}

		&__tabs-link {
		}

		&__logo {
		}
	}
	.tabs-link-1 {
	}
	.tabs-link-2 {
	}
	.summer-body {
		&__row {
		}

		&__column {
		}

		&__suggestion {
		}

		&__suggestion-inf {
		}

		&__suggestion-inf-title {
		}

		&__suggestion-inf-period {
			padding: 0 15px 0 0;
		}

		&__suggestion-details {
		}
	}

	.footer {
		padding-top: 80px;
	}
}
@media screen and (max-width: 768px) {
	.header {
		.header__logo-link {
			border: 4px solid #ffffff;
			max-width: 200px;
			padding: 55px 15px 15px 15px;
		}

		.header__logo-text1 {
			font-size: 27px;
		}

		.header__logo-text2 {
			font-size: 12px;
		}
		.menu__list {
			padding: 90px 0 20px 0;
		}
	}

	.offer {
		margin-top: -300px;

		&__container {
		}

		&__special {
			padding-top: 80px;
		}

		&__special-title {
		}

		&__special-row {
		}

		&__special-column {
		}

		&__summer {
		}

		&__summer-container {
		}

		&__summer-nav {
		}

		&__summer-nav-content {
		}

		&__summer-body {
		}
	}
	.special {
		&__image {
		}

		&__information {
		}

		&__title {
		}

		&__text {
		}

		&__row {
		}

		&__sum {
		}

		&__btn {
		}
	}
	.read-more {
	}
	.summer-nav {
		&__body {
		}

		&__tabs {
		}

		&__tabs-link {
		}

		&__logo {
		}
	}
	.tabs-link-1 {
	}

	.tabs-link-2 {
	}
	.summer-body {
		&__row {
		}

		&__column {
		}

		&__suggestion {
		}

		&__suggestion-inf {
		}

		&__suggestion-inf-title {
		}

		&__suggestion-inf-period {
		}

		&__suggestion-details {
		}
	}
}

@media screen and (max-width: 625px) {
	.double-block {
		&__slider {
			padding: 50px 0 0 0;
			max-width: 450px;
		}
	}
	.summer-nav {
		&__body {
		}

		&__tabs {
		}

		&__tabs-link {
		}

		&__logo {
			img {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 576px) {
	.header {
		.header__logo-link {
			max-width: 150px;
			padding: 55px 5px 15px 5px;
		}

		.header__logo-text1 {
			font-size: 22px;
		}

		.header__logo-text2 {
			font-size: 10px;
		}
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin: 0 0 20px 0;
	}

	.menu__link {
		font-size: 20px;
	}

	.offer {
		margin-top: -340px;

		&__container {
		}

		&__special {
			padding-top: 80px;
		}

		&__special-title {
			font-size: 25px;
		}

		&__special-row {
			flex-wrap: wrap;
		}

		&__special-column {
			&:first-child {
				padding: 0;
			}
		}

		&__summer {
			width: 93%;
		}

		&__summer-container {
		}

		&__summer-nav {
		}

		&__summer-nav-content {
		}

		&__summer-body {
		}
	}
	.special {
		&__image {
		}

		&__information {
		}

		&__title {
			font-size: 15px;
		}

		&__text {
			font-size: 13px;
		}

		&__row {
		}

		&__sum {
			font-size: 20px;
		}

		&__btn {
			font-size: 13px;
		}
	}
	.read-more {
	}
	.summer-nav {
		&__body {
		}

		&__tabs {
			padding: 0 0 6px 0;
		}

		&__tabs-link {
			color: #81ffff;
			font-family: "A 1010 Helvetika - Normal";
			font-size: 15px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			background-color: #299fca;
			border-radius: 5px 5px 0 0;
		}

		&__logo {
		}
	}
	.tabs-link-1 {
		padding: 8px 27px 5px 17px;
	}

	.tabs-link-2 {
		padding: 8px 19px 5px 15px;
		margin: 0 4px;
	}
	.summer-body {
		&__row {
		}

		&__column {
		}

		&__suggestion {
		}

		&__suggestion-inf {
		}

		&__suggestion-inf-title {
		}

		&__suggestion-inf-period {
		}

		&__suggestion-details {
		}
	}

	.footer {
		padding-top: 60px;
	}
}

@media screen and (max-width: 435px) {
	

	.double-block {
		&__slider {
			padding: 30px 0 0 0;
			max-width: 400px;
		}
	}
	.header {
		.header__logo-link {
			max-width: 100px;
			padding: 65px 5px 15px 5px;
		}

		.header__logo-text1 {
			font-size: 13px;
		}

		.header__logo-text2 {
			font-size: 7px;
		}
	}
	.summer-body {
		&__row {
		}

		&__column {
		}

		&__suggestion {
			display: flex;
			justify-content: space-between;
		}

		&__suggestion-inf {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 75%;
		}

		&__suggestion-inf-title {
			color: #ffffff;
			font-family: "Colaborate - Thin";
			margin: 0 0 0 25px;
			padding: 0 10px 10px 0;
			font-size: 13px;
			font-weight: 400;
			position: relative;
			&::before {
				content: "";
				width: 11px;
				height: 12px;
				position: absolute;
				top: 1.5px;
				left: -20px;
				background: url(../img/offer/arrow.webp) no-repeat;
				display: block;
			}
		}

		&__suggestion-inf-period {
			white-space: nowrap;
			color: #ffffff;
			font-family: "Colaborate - Thin";
			font-size: 13px;
			font-weight: 400;
			text-align: left;
		}

		&__suggestion-details {
			color: #ffffff;
			font-family: "Colaborate - Thin";
			font-size: 13px;
			font-weight: 400;
			text-align: left;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.summer-nav {
		&__body {
		}

		&__tabs {
			padding: 0 0 4px 0;
		}

		&__tabs-link {
			color: #81ffff;
			font-family: "A 1010 Helvetika - Normal";
			font-size: 15px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			background-color: #299fca;
			border-radius: 5px 5px 0 0;
		}

		&__logo {
		}
	}
	.tabs-link-1 {
		padding: 5px 12px 3px 12px;
	}

	.tabs-link-2 {
		padding: 5px 7px 3px 7px;
		margin: 0 4px 0 2px;
	}

	.footer {
		padding-top: 0px;
	}
}

@media screen and (max-width: 378px) {
	.double-block {
		&__slider {
			padding: 30px 0 0 0;
			max-width: 350px;
		}
	}
	.booking {
	}
	.offer {
		margin-top: -360px;
	}
	.summer-body {
		&__column {
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 320px) {
	.double-block {
		&__slider {
			padding: 30px 0 0 0;
			max-width: 250px;
		}
	}
	.offer {
		margin-top: -380px;
		&__special-title {
			padding-top: 90px;
		}
	}
	.summer-nav {
		&__body {
		}

		&__tabs {
			padding: 0 0 4px 0;
		}

		&__tabs-link {
			color: #81ffff;
			font-family: "A 1010 Helvetika - Normal";
			font-size: 11px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			background-color: #299fca;
			border-radius: 5px 5px 0 0;
		}

		&__logo {
		}
	}
	.tabs-link-1 {
		padding: 5px 9px 3px 9px;
	}

	.tabs-link-2 {
		padding: 5px 4px 3px 4px;
		margin: 0 4px 0 2px;
	}
}
