.image-slider {
	padding: 0px 0 0px 0;

	&__wrapper {
	}

	&__slide {
	}

	&__image {
		margin: 0 auto;
		text-align: center;
		max-width: 100%;
	}
}

// Стрелки
.swiper-button-next,
.swiper-button-prev {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: transparent;
	z-index: 100;
}
.swiper-button-prev {
	left: 15px;
	top: 85%;
	background: url(/img/slider/left_arrow.webp) center center no-repeat;
}

.swiper-button-next {
	left: 75px;
	top: 92%;
	background: url(/img/slider/right_arrow.webp) center center no-repeat;
}

// Видимость слайдов
.swiper-slide {
	opacity: 0;
	visibility: hidden;
}

.swiper-slide-active {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 378px) {
	.swiper-button-next,
	.swiper-button-prev {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		color: transparent;
		z-index: 100;
	}
	.swiper-button-prev {
		background-size: cover;
	}

	.swiper-button-next {
		left: 55px;
		top: 94%;
		background-size: cover;
	}
}
@media screen and (max-width: 320px) {
	.swiper-button-prev {
		top: 89%;
		background-size: cover;
	}

	.swiper-button-next {
		left: 55px;
		top: 100%;
		background-size: cover;
	}
}
