@import "nullstyle.scss";
@import "fonts.scss";

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.page {
	flex: 1 1 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 50%;
	width: 60%;
	height: 84px;
	z-index: 10;
	background-color: #4cb2e7;
	margin: -23px auto 0 auto;
	border-radius: 7px;
	transform: translateX(-50%) rotate(-2deg);

	&__container {
		display: flex;
		justify-content: space-between;
		padding: 0 30px;
		min-height: 70px;
	}

	&__logo-link {
		box-shadow: 2px 5px 10px rgba(18, 126, 165, 0.92);
		border: 6px solid #ffffff;
		background-color: #e1ecf2;
		border-radius: 10px;
		z-index: 5;
		margin-top: -20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 258px;
		padding: 40px 20px 20px 20px;
		transform: rotate(-3deg);
	}
	&__logo-text1 {
		color: #299fca;
		font-family: "AG Aalen Bold - Roman";
		font-size: 33px;
		padding: 0 0 7px 0;
	}
	&__logo-text2 {
		color: #299fca;
		font-family: "Arial MT";
		font-size: 15px;
		font-weight: 400;
	}

	&__menu {
	}
}

.menu {
	&__icon {
		display: block;
		padding-left: 10px;
	}

	&__body {
		transform: rotate(2deg);
		margin: 15px 0px 0 0;
		padding: 0 65px 0 0;
		border-radius: 10px;
	}

	&__list {
		li {
			margin: 20px 30px 0 25px;
		}
	}

	&__link {
		color: #ffffff;
		font-family: "AG Souvenir";
		font-size: 17px;
		font-weight: 400;
		&:hover {
			text-decoration: underline;
		}
	}
}

.double-block {
	background-color: #ccc;

	&__slider {
	}

	&__booking {
	}
}
.image-slider {
	&__wrapper {
	}

	&__slide {
	}

	&__image {
	}
}

.booking {
	border: 7px solid #7ebee0;
	background-color: #299fca;
	margin: 30px;
	max-width: 309px;
	border-radius: 20px;
	&__title {
		margin: 26px 0 33px -20px;
		color: #ffffff;
		font-family: "AG Letterica Bold Bold";
		font-size: 21px;
		font-weight: 400;
		max-width: 237px;
		background-color: #ded90e;
		border-radius: 5px 0 0 5px;
		padding: 12px 0 9px 18px;
		box-shadow: -5px 1px 5px rgba(18, 126, 165, 0.75);
		position: relative;
		
		&::before {
			content: "";
			margin: -11px 0 0  -20px;
			position: absolute;
			left:  100%;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-right: 20px solid #299fca;
			border-bottom: 20px solid transparent;
			
			
		}
	}

	&__row {
		display: flex;
		margin: 0 20px 0 15px;
		
	}

	&__items {
		li {
			text-align: right;
			color: #ffffff;
			font-family: "AG Foreigner Roman Medium";
			font-size: 17px;
			white-space: nowrap;
			font-weight: 400;
			margin-bottom: 27px;
			text-shadow: 2px 0 0 #2090b9, -2px 0 0 #2090b9, 0 2px 0 #2090b9, 0 -2px 0 #2090b9, 1px 1px #2090b9, -1px -1px 0 #2090b9, 1px -1px 0 #2090b9, -1px 1px 0 #2090b9;
			&:first-child {
				margin-top: 6px;
			}
		}
	}

	&__item-image {
		margin-top: 50px;
	}

	&__forms {
		padding: 0 0 0 8px;
	}

	&__forms-group {
		input,
		textarea,
		select {
			width: 100%;
			height: 31px;
			border: 3px solid #a7d1e6;
			border-radius: 10px;
			padding-left: 7px;
			color: #299fca;
			font-family: "AG Foreigner Roman Medium";
		}

		select{
			appearance: none;
			background: url('/img/slider/select-triangle.webp') no-repeat right center #fff;
		}

		textarea {
			width: 171px;
			height: 57px;
			resize: none;
			padding-top: 5px;
		}
		li {
			margin-bottom: 14px;
			
		}
	}

	&__form-name {
	}

	&__form-email {
	}

	&__form-package {
	}

	&__form-message {
	}

	&__form-btn-box {
		display: flex;
		justify-content: flex-end;
	}

	&__form-btn {
		color: #64affc;
		font-family: "AG Letterica Bold Bold";
		font-size: 15px;
		font-weight: 400;
		cursor: pointer;
		background-image: linear-gradient(to top, #e5db10 0%, #fff203 100%);
		border-radius: 5px;
		padding: 10px 25px;
	}
}

.footer {
	background: radial-gradient(at top, #1c93bf, #127ea5) padding-box, linear-gradient(to right, #127ea5) border-box;
	border-top: 3px solid transparent;
	background-color: #127ea5;
	background-size: cover;

	input::placeholder,
	textarea::placeholder {
		color: #5190a7;
	}

	&__container {
		max-width: 950px;
		margin: 0 auto;
		padding: 0 0 12px 0;
	}

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__column {
		padding: 0 30px;
	}

	&__autor {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 20px;
		p {
			text-align: center;
			color: #ffffff;
			font-family: "Colaborate - Thin";
			font-size: 14px;
			font-weight: 400;
			margin: 0 10px;
		}
	}
	&__autor-icon {
		position: relative;
		&::before {
			content: "©";
			position: absolute;
			font-size: 22px;
			top: -4px;
			margin-left: -20px;
		}
	}
}
.column {
	&__social {
	}

	&__contact {
		a:hover {
			text-decoration: underline;
		}
	}

	&__contact-form {
	}
}
.social {
	&__letter {
	}

	&__letter-title {
	}

	&__letter-form {
	}

	&__media {
	}

	&__media-title {
	}

	&__media-icons {
		margin: 15px 0 0 0;
		a {
			margin: 0 3px;
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
.title {
	padding: 22px 0 0 0;
	text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75);
	color: #ffffff;
	font-family: "ColabReg";
	font-size: 25px;
	font-weight: 400;
}

.letter-form {
	&__group {
		margin-top: 17px;
	}
	&__email {
		width: 193px;
		height: 31px;
		background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
		color: #ffffff;
		font-family: "Colaborate - Thin";
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 5px;
		margin: 0 10px 0 0;
	}
	&__btn {
		padding: 8px 14px;
		cursor: pointer;
		font-family: "ColabMed";
		font-size: 16px;
		font-weight: 400;
		border-radius: 7px;
		text-align: center;
		color: #1380a7;
		background-color: #d6e6ef;
		&:hover {
			background-color: #ccc;
		}
	}
}
.fab {
}
.fa-twitter-square {
}
.fa-facebook-square {
}
.fa-instagram-square {
}
.contact {
	&__title {
		margin: 9px 0 23px 0;
	}

	&__list {
		li {
			margin: 0 0 13px 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		color: #ffffff;
		font-family: "Colaborate - Thin";
		font-size: 14px;
		font-weight: 400;
		text-align: left;
	}

	&__number {
		color: #ffffff;
		font-family: "Colaborate - Thin";
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		a {
			color: #ffffff;
		}
	}

	&__email {
		color: #ffffff;
		font-family: "Colaborate - Thin";
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		display: flex;
		div {
			padding: 0 1px;
		}
		a {
			color: #ffffff;
		}
		p {
			padding: 0 1px 13px 1px;
		}
	}

	&__fax {
		color: #ffffff;
		font-family: "Colaborate - Thin";
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		display: flex;
		div {
			padding: 0 13px 0 0;
		}
	}
}
.contact-form {
	&__title {
	}

	&__form {
		margin-top: 17px;
	}

	&__group {
		textarea {
			resize: none;
		}
		li {
			padding-bottom: 13px;
		}
	}

	&__name {
		width: 193px;
		height: 31px;
		background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
		color: #ffffff;
		font-family: "Colaborate - Thin";
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 5px;
	}

	&__email {
		width: 193px;
		height: 31px;
		background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
		color: #ffffff;
		font-family: "Colaborate - Thin";
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 5px;
	}

	&__phone {
		width: 193px;
		height: 31px;
		background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
		color: #ffffff;
		font-family: "Colaborate - Thin";
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 5px;
	}

	&__text {
		width: 253px;
		height: 57px;
		background: linear-gradient(#0f6686, #0f6686) padding-box, linear-gradient(to bottom, #154050, #96d6ed) border-box;
		color: #ffffff;
		font-family: "Colaborate - Thin";
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 5px;
	}

	&__btn-box {
		display: flex;
		justify-content: flex-end;
	}
	&__btn {
		padding: 8px 23px;
		cursor: pointer;
		font-family: "ColabMed";
		font-size: 16px;
		font-weight: 400;
		border-radius: 7px;
		text-align: center;
		color: #1380a7;
		background-color: #d6e6ef;
		&:hover {
			background-color: #ccc;
		}
	}
}
